.line {
    display: flex;
    align-content: center;
    justify-content: center;
    position: center;
    width: 300px;
    border: solid;
    /*border-color: black;*/
}

.slider {
    display: flex;
    position: relative;
    align-content: center;
    width: 200px;
}

.block {
    display: flex;
    position: absolute;
    align-content: flex-start;
    width: 100px;
}

.input {
    width: 10px;
}

.backlightInput {
}

.backlightInput:focus {
    background-color: red;
}

.backlightInput:hover {
    cursor: pointer;
}

.button {
    background-color: cadetblue;
    color: white;
    transition-duration: 0.4s;
}

.button:hover {
    cursor: pointer;;
}

.button:focus {
    background-color: red;
    color: black;
}